*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;

}

.hide {
    display: none;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  
  }

  body {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  button {
    border: 1px solid grey;
    font-size: 20px;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    
  
  }

  .quizHeader {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
  }
  
  .quizHeader h1 {
    padding-bottom: 15px;
  }
  
  .quizArea {
    margin-top: 40px;
    width: 60vw;
    max-width: 850px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  .quiz-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonArea {
    display: grid;
    grid-template-columns: none;
    gap: 10px;
    margin: 20px 0;
  }