/* universal selector  */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* hide property  */
.hide {
  display: none;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

}

body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  /* background: rgb(131, 252, 206);
  background: linear-gradient(0deg, rgba(131, 252, 206, 1) 0%, rgba(189, 255, 229, 1) 35%, rgba(255, 255, 255, 1) 100%);
  background-attachment: fixed; */
  
}

button {
  border: 1px solid grey;
  font-size: 20px;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;

}

button:hover {
  color: orange;
}


/* quiz content start  */
.quizHeader {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.quizHeader h1 {
  padding-bottom: 15px;
}

.quizArea {
  margin-top: 60px;
  width: 60vw;
  max-width: 850px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.quiz-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
  justify-content: center;
}

#answers button {
  width: 350px;
  margin: 5px;
}

/* right and wrong message after answer  */
#right {
  color: green;
}

#wrong {
  color: red;
}
 /* end of right and wrong message after answer */


#clearScores {
  margin-top: 5px;
}

.scoresList {
  list-style: none;
  margin-bottom: 10px;
}

.restart,
#scoreArea p,
#initials,
h2 {
  margin-bottom: 15px;
}

#save-btn {
  margin-left: 10px;
}

h2 {
  margin-top: 15px;
}
/* end of quiz content  */


footer {
  position: fixed;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
}

/* media query  */
@media only screen and (max-width: 555px) {
  .quizArea {
    margin-top: 10px;
  }

  h1 {
    font-size: 30px;
  }

  #save-btn {
    margin-left: 0px;
  }

  .restart {
    margin-bottom: 15px;
  }

  #showScoresButton {
    font-size: 18px;
  }

  #answers button {
    width: 310px;
  }

}